#board {
	width: 100%;
	height: 100%;

	/* border is only enabled for testing purposes.*/
	/* avoid sub-pixle calculations
	 * by setting border width to 3px.*/
	border: 3px dotted blue;

	border-collapse: separate;
	border-spacing: 1px 1px;
}

.board-cell {
	border: 1px solid black;
}

.board-cell:hover {
	/* copied values from google. */
	background-color: black;
}
