#board-rows-list {

	text-align: center;

	/* border is only enabled for testing purposes.*/
	/* avoid sub-pixle calculations
	 * by setting border width to 3px.*/
	border: 3px dotted blue;
}

.board-row {
	/* borders are only for testing,
	 * enabling them distorts the layout of a square grid.
	 */
	/* border: 1px dotted green; */

	display: inline-block;

	/* just a double-check */
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}


.board-cell {
	border: 1px solid black;
	margin: 1px 1px 1px 1px;
	float: left;
}


.board-cell:hover {
	background-color: black;
}

