#color-picker {
	/*enable border only for testing*/
	border: 1px solid red;
	
	
	display: inline-block;
	
	min-width: 275px;
	min-height: 50px;
	
	float: right;
}


#color-picker-slider {
	/*enable border only for testing*/
	border: 1px solid blue;
	
	width: 200px;
	
	min-width: 50px;
	min-height: 10px;
	
	margin: 15px 5px;
	
	/*
	margin-left: 5px;
	margin-right: 5px;
	*/
	float: left;
}

#color-picker-viewer {
	/*enable border only for testing*/
	/* border: 1px solid green; */
	background-color: green;
	
	width: 50px;
	height: 50px;
	
	min-width: 50px;
	min-height: 50px;
	
	margin: 0px 5px;
	
	/*
	margin-left: 5px;
	margin-right: 5px;
	*/
	
	float: left;
}
