#color-picker {
	/*enable border only for testing*/
	/*border: 3px solid black;*/

	display: inline-block;

	min-width: 275px;
}

#color-picker-slider {
	/*enable border only for testing*/
	/*border: 1px solid blue;*/

	width: 200px;

	min-width: 50px;
	min-height: 10px;

	margin: 15px 5px;

	float: left;
}

#color-picker-viewer {
	/*enable border only for testing*/
	/* border: 1px solid green; */
	background-color: green;

	width: 40px;
	height: 40px;

	min-width: 40px;
	min-height: 40px;

	margin: 5px 5px;

	float: left;
}
