html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background: white url(../img/logo-less-bright.png) repeat top left;
	/* background-color: #900002; */
}

.common-settings {
	width: 100%;
	min-width: 810px;

	/* I will not use borders,
	 * I will use only the margins as separators.
	 */
	/*
	background: green;
	border: 3px solid blue;
	*/
}

#wrapper {
	/* I will not use borders,
	 * I will use only the margins as separators.
	 */
	/*
	background: yellow;
	border: 3px solid red;
	*/

	height: 99%;
	min-height: 99%;

	width: 99%;
	min-width: 810px;
}

#header {
	height: 10%;
	min-height: 37px;

	text-align: center;
}

#content {
	height: 80%;
	min-height: 480px;
}
