html, body {
	margin: 0;
	padding: 0;
	height: 99%;
}

body {
	background: white url(../img/logo-less-bright.png) repeat top left;
	color: #222;
}

div {
	display: block;
}

#div-container {
	height: 99%;
	position: relative;
}

.div-frame {
	padding: 1px 1px 1px 1px;


	margin-left: auto;
	margin-right: auto;

	margin-top: 10px;

	/* border is only enabled for testing purposes.*/
	/* avoid sub-pixle calculations
	 * by setting border width to 3px.*/
	/* border: 1px dotted red; */

	text-align: center;
}

#menu-frame {
	/* min-width: 810px; */
	min-height: 60px;
}

#board-frame {
	/* min-width: 540px; */
	/* min-height: 480px; */
	margin-bottom: 5px;
}

