html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #fff;
	color: #222;
}

div {
	display: block;
}

#div-container {
	height: 100%;
	position: relative;
}

.div-frame {
	padding: 5px 5px 5px 5px;

	width: 80%;
	min-width: 980px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

	/* border is only enabled for testing purposes.*/
	/* avoid sub-pixle calculations
	 * by setting border width to 3px.*/
	border: 3px dotted red;
}

#menu-frame {
	min-height: 61px;

	text-align: center;
}

#board-frame {
	height: 80%;
	min-height: 490px;

	margin-bottom: 10px;
}

#board {
	width: 100%;
	height: 100%;

	/* border is only enabled for testing purposes.*/
	/* avoid sub-pixle calculations
	 * by setting border width to 3px.*/
	border: 3px dotted blue;

	border-collapse: separate;
	border-spacing: 1px 1px;
}

.board-cell {
	border: 1px solid black;
}
