#div-menu-buttons-container {
	text-align: center;
}

#div-menu-buttons {
	display: inline-block;
	/* to prevent distortion on resizing*/
	/* save place for three buttons */
	min-width: 810px;
}

#div-menu-buttons .button {
	/* copied values from google. */
	height: 36px;
	line-height: 27px;

	/* copied values from google. */
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	padding: 0 16px;
	text-align: center;
	
	/* keep the same button min-width 
	 * as copied from google.
	 */
	min-width: 54px;
}

#div-menu-buttons .button:hover {
	/* copied values from google. */
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
