#menu-container {
	/* I will not use borders,
	 * I will use only the margins as separators.
	 */
	/*border: 3px solid blue;*/

	height: 100%;

	min-width: 860px;

	display: inline-block;
}

.menu-element {

	/*heights*/
	height: 50px;
	line-height: 50px;

	/* marging, padding, and text-align*/
	margin: 11px 4px;
	padding: 0 16px;
	text-align: center;

	/*colors, border, and cursor*/
	background-color: #d22323;
	border: 3px solid #e3ff00;
	color: #e3ff00;
	cursor: default;

	float: left;
}

.menu-element:hover {
	/*colors and borders*/
	background-color: #ff0000;
	border: 5px solid #e3ff00;
	color: #e3ff00;
}

.button {
	/*min-width*/
	min-width: 54px;

	/*font configurations*/
	font-size: 24px;
	font-family: arial,sans-serif;
	font-weight: bold;
}
