#board-size-dialog-form form {
	/**
	 * 	enabled border only for testing.
	 */
	/* border: 1px solid black; */

	text-align:center;
}

#board-size-dialog-form form fieldset {
	/**
	 * 	enabled border only for testing.
	 */
	/* border: 1px solid green; */
}

.spinner {
	/**
	 * 	enabled border only for testing.
	 */
	/* border: 1px solid blue; */

	width: 200px;
}

.ui-dialog .ui-dialog-content {
	background-color: #d22323;
	color: #e3ff00;
	font-weight: bold;
}

.ui-dialog .ui-dialog-buttonpane {
	background: white url(../img/logo-less-bright.png) repeat top left;
}
