#div-menu-buttons-container {
	text-align: center;
}

#div-menu-buttons {
	display: inline-block;

	/* to prevent distortion on resizing,
	 * save place for three buttons */
	/* TODO: perhaps this needs to be linked to
	 * the calculations of the minWidth of the menu
	 * in the board.js?
	 */
	min-width: 810px;
}

#div-menu-buttons .button {
	/* copied values from google. */
	height: 36px;
	line-height: 27px;

	/* copied values from google. */
	background-color: #d22323;
	border: 3px solid #e3ff00;
	border-radius: 10px;
	color: #e3ff00;
	cursor: default;
	font-family: arial,sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 11px 4px;
	padding: 0 16px;
	text-align: center;
	
	/* keep the same button min-width 
	 * as copied from google.
	 */
	min-width: 54px;
}

#div-menu-buttons .button:hover {
	/* copied values from google. */
	background-color: #ff0000;
	border: 5px solid #e3ff00;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #e3ff00;
}
